<h3 class="my-10 font-serif text-3xl">Create a New Post:</h3>
<form class="mt-8 max-w-md new-post-form">
    <div class="grid grid-cols-1 gap-6">
        <label for="title" class="block text-xl">Title:</label>
        <input type="text" class="mt-2 block w-full" id="title">
    </div>
    <div class="py-8">
        <label for="post" class="form-label block">Post:</label>
        <textarea type="text" class="mt-1 block w-full" id="post" placeholder="Type a post..."></textarea>
    </div>
    <div class="form-group col-4">
        <button type="submit" id='post-button' class="rounded-md bg-blue-300 p-2">Create</button>
    </div>
</form>

<script src="../js/post.js"></script>